<div *ngIf="!(login_helper.user)">
	<li (click)="navLinkClicked()" routerLinkActive="active"><a routerLink="/home">Home</a></li>
	<li (click)="navLinkClicked()" routerLinkActive="active"><a routerLink="/signup">Sign Up</a></li>
	<li (click)="navLinkClicked()" routerLinkActive="active"><a routerLink="/login">Login</a></li>
</div>
<div *ngIf="(login_helper.user)">
	<li (click)="navLinkClicked()" routerLinkActive="active"><a routerLink="/blog">Blogs</a></li>
   <li class="profile" title="Profile" > <a routerLink="/profile"><img src={{login_helper.user.photoURL}} class="circle"> </a></li>
	<li (click)="login_helper.logOut()"><a class="chip">
    <span class="red-text"> Log Out </span>
  </a></li>
</div>