<div class="col s12">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img [src]="getUser().photoURL" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s10">
        <span class="black-text">
        <span *ngIf="small_size">
        	<h6>{{getUser().displayName}}</h6>
        </span>
        <span *ngIf="!small_size">
        	<h1>{{getUser().displayName}}</h1>
        </span>
        	<blockquote>{{getUser().email}}</blockquote>
        </span>
      </div>
    </div>
  </div>
</div>