<div class="row container">
	<form class="col s12 card-panel">
		<div class="row center">
			<div class="input-field col s10">
			  <input [(ngModel)]="blog['title']" type="text" class="validate" data-length="50" name="blog-title"/>
			  <label>Blog Title</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10">
			  <textarea [(ngModel)]="blog['content']" name="blog-content" id="address" class="materialize-textarea" data-length="500"></textarea>
			  <label>What would you like to share?</label>
				  <input type="hidden" [ngModel]="blog['uid']" name="blog-creator" />
		</div>
		<div class="col s2">
			<button (click)="saveBlog()" class="btn waves-effect waves-light" type="submit" name="action">
			  <i class="material-icons">send</i>
			</button>
		</div>
		</div>
	</form>
</div>
<div *ngIf="!(articles.length)" class="container">
	 <div class="progress">
	 		Loading
      <div class="indeterminate"></div>
  </div>
</div>
<div class="row container">
  <div class="col s12" *ngFor="let article of articles">
    <div class="card">
      <div class="card-content gray-4">
        <a class="btn-floating right {{article.uid != login_helper.user.uid ? 'disabled' : ''}} red" (click)="deleteBlog(article.$key)"> <i class="material-icons">delete</i></a>
        <span class="card-title">
        <div class="chip right">
	        <img style="height: 30px" [src]="(article.creator | async)?.photoURL" class="circle responsive-img left"/>
        	{{(article.creator | async)?.displayName}}
        </div>
	        {{article.title}}
        </span>
        {{article.content}}
        <blockquote>{{article.likeCount}} Likes</blockquote>
      </div>
      <div class="card-acton">
        <a class="btn-floating {{article.liked() ? 'blue' : 'black'}} halfway-fab right" (click)="article.likeOrUnlike()" [title]="article.liked() ? 'Unlike' : 'Like'"> <i class="material-icons">thumb_up</i></a>
      </div>
    </div>
  </div>
</div>
      